<h2 style="text-align:center">Details</h2>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>SupplierId</th>
                <th>Name</th>
                <th>Color</th>
                <th>Weight</th>
                <th>City</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="data"></tbody>
    </table>
</div>
<div>
    <input type="button" id="getAllBtn" value="Get All" class="btn" />
</div>


<h3 style="margin-left:125px;">Add Detail</h3>
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="productName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Color:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="productColor">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Weight:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="productWeight">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">City:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="productCity">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="addProductBtn">Add</button>
        </div>
    </div>
</form>


@section scripts{
    <script src="~/Scripts/MyScripts/DetailScript.js"></script>
}
