@{
    ViewBag.Title = "Login";
}
<div class="loginForm">
    <h3>Login</h3>
    <label>Enter email</label><br />
    <input type="email" id="emailLogin" /> <br /><br />
    <label>Enter password</label><br />
    <input type="password" id="passwordLogin" /><br /><br />
    <input type="submit" id="submitLogin" value="Логин" />
</div>

@section scripts{    
    <script type="text/javascript">
        $(function () {
            //...........................

            var tokenKey = "tokenKey";
            $('#submitLogin').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:10282/Token',
                    data: loginData,
                    success: function (data) {
                        $('.userName').text(data.userName);                        
                        $('.loginForm').css('display', 'none');                        
                        sessionStorage.setItem(tokenKey, data.access_token);
                        sessionStorage.setItem("Name", data.userName);
                        setInfo();
                    },
                error: function () {
                    alert('При логине возникла ошибка');
                }
                });
            });

            $('#logOut').click(function (e) {
                e.preventDefault();
                sessionStorage.removeItem(tokenKey);
            });
        })
    </script>
}





