
@{
    ViewBag.Title = "Register";
}

<div>
    <label>Enter email</label><br />
    <input type="email" id="email" /> <br /><br />
    <label>Enter password</label><br />
    <input type="password" id="password" /><br /><br />
    <label>Confirm password</label><br />
    <input type="password" id="confirmpassword" /><br /><br />
    <input type="submit" id="submit" value="Register" />
</div>
@section scripts{
    <script type="text/javascript">
    $(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
            var data = {
                Email: $('#email').val(),
                Password: $('#password').val(),
                ConfirmPassword: $('#confirmpassword').val()
            };

            $.ajax({
                type: 'POST',
                url: 'http://localhost:10282/api/Account/Register',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (data) {
                    alert("Registered")
                },
                error: function (data) {
                    alert("Server error");
                }
            });
        });
    })
    </script>
}

